* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #101010;
}

.innerHeader {
    width: 92%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logoContainer {
    order: 1;
    height: 100%;
    display: table;
    float: left;
}

.logoContainer h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 1px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
}

.clickable {
    cursor: pointer;
}

#canvas {
    border: 1px solid black;
    background-color: #dddddd;
}

.value {
    margin-left: 0px;
    text-align: center;
    color: #e74c3c;
    font-family: 'Dosis';
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: -.07em;
    font-weight: bold;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    margin: 10 auto;
    margin-right: 10%;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 15%;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}​​

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}