body {
  margin: 0;
  font-family: 'Dosis', Helvetica, sans-serif;
  background-color: #f4f4f4;
  overflow: hidden;
}

a {
  color: #ddd;
}

/* header */

.header {
  background-color: #101010;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #101010;
  margin-top: 20px;
}

.header li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #101010;
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 10;
}

/* 48em = 768px */

@media (min-width: 1600px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.clickable {
    cursor: pointer;
}

.delay {
  margin-left: 0px;
  text-align: center;
  color: #e74c3c;
  font-family: 'Dosis';
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 17px;
  letter-spacing: -.07em;
  font-weight: bold;
}

input[type="delayRange"] {
  display: block;
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  margin: 10 auto;
  margin-right: 10%;
  outline: 0;
}

input[type="delayRange"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 15%;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: .3s ease-in-out;
}​​


input[type="delayRange"]::-webkit-slider-thumb:hover {
  background-color: #ddd;
  border: 2px solid #e74c3c;
}

.value {
  margin-left: 0px;
  text-align: center;
  color: #e74c3c;
  font-family: 'Dosis';
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 17px;
  letter-spacing: -.07em;
  font-weight: bold;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  margin: 10 auto;
  margin-right: 10%;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 15%;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: .3s ease-in-out;
}​​

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #ddd;
  border: 2px solid #e74c3c;
}

.counter {
  position: absolute;
  color: #333;
}